* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

h1 {
  font-family: "Rubik Vinyl", cursive;
}

label {
  display: inline-block;
  width: 150px;
}

form {
  background-color: bisque;
  text-align: center;
  padding: 20px;
  width: fit-content;
  margin: 10px auto;
}
